@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
    font-family: "Montserrat", sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
}

.main .poster .posterimg{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: .4s;
    position: relative;
}

.main .poster:hover{
    opacity: 30%;
}


.content .title {
    font-size: xx-large;
    font-weight: 700;
    text-align: center;
    margin: 50px;
}

.content .summary{
    width: 900px;
    font-size: xx-large;
    font-weight: 700;
    text-align: center;
    margin: 150px auto 150px auto;
    line-height: 50px;
}